@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.fork-infos {
    font-family: 'Poppins';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}