@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@300&display=swap');

#languages-content {
    margin-top: 100px;
}

#languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: fit-content;
    max-width: 100vw;
    padding: 50px;
}

.top-languages {
    border-radius: 50%;
    margin: 100px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-languages-position {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 50px;
    margin-right: auto;
}

.top-languages-name {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

.top-languages-image {
    height: 250px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.top-languages:nth-child(1) {
    animation: colorGolden 9s infinite;
    color: #e9bf29;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@keyframes colorGolden {
    0%   { background: #fef08a }
    33.33%  { background: #fde047 }
    66.66%  { background: #facc15 }
    100%  { background: #eab308 }
}

.top-languages:nth-child(2) {
    animation: colorSilver 9s infinite;
    color: #616868;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@keyframes colorSilver {
    0%   { background: #e2e8f0 }
    33.33%  { background: #cbd5e1 }
    66.66%  { background: #94a3b8 }
    100%  { background: #64748b }
}

.top-languages:nth-child(3) {
    animation: colorBrass 9s infinite;
    color: #c1512c;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@keyframes colorBrass {
    0%   { background: #fed7aa }
    33.33%  { background: #fdba74 }
    66.66%  { background: #fb923c }
    100% { background: #f97316 }
}

.language-card {
    border-radius: 5px;
    height: 100px;
    width: 350px;
    margin: 5px 5px 5px 5px;
    background-color: #1111111A;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language-card:hover {
    border: 2px solid #bdbdbd;
    background-color: #efefef;
}

.language-name {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin-left: auto;
}

.language-position {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 40px;
    margin-right: auto;
}

.language-image {
    height: 80px;
}