@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@300&display=swap');

#languages-content {
    margin-top: 100px;
}

#languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: fit-content;
    max-width: 100vw;
    padding: 50px;
}

.top-languages {
    border-radius: 50%;
    margin: 100px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-languages-position {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 50px;
    margin-right: auto;
}

.top-languages-name {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

.top-languages-image {
    height: 250px;
    margin-bottom: 20px;
}

.top-languages:nth-child(1) {
    background-color: #e9bf29;
    border: 10px solid #e7952e;
    color: #e7952e;
}

.top-languages:nth-child(2) {
    background-color: #b7bcbc;
    border: 10px solid #616868;
    color: #616868;
}

.top-languages:nth-child(3) {
    background-color: #d8762d;
    border: 10px solid #c1512c;
    color: #c1512c;
}

.language-card {
    border-radius: 5px;
    height: 150px;
    width: 400px;
    margin: 5px 5px 5px 5px;
    background-color: #62099a;
    color: #F5F5F5;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.language-card:hover {
    background-color: #430074;
    color: #FFFFFF;
}

.language-name {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 35px;
    text-align: center;
}

.language-position {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 40px;
}

.language-image {
    height: 80px;
}