@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@300&display=swap');

#languages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    max-height: fit-content;
    max-width: 100vw;
    margin-top: 100px;
    padding: 50px;
}

.language-card {
    border-radius: 5px;
    height: 200px;
    width: 200px;
    margin: 5px 5px 5px 5px;
    background-color: #1111111A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.language-name {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 28px;
    color: black;
    text-align: center;
}

.language-position {
    font-family: 'Poppins';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}